logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
conf/github.conf
conf/redis/stdout
conf/redis/dump.rdb
conf/database.conf
