@(nonAlreadyFetchedRepos: List[models.GithubRepository])

@import helpers.GithubRepositoryUrlService._

@if(nonAlreadyFetchedRepos.nonEmpty) {

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Dépôts en traitement</h3>
            <small>Rafraichissez votre page pour obtenir les nouvelles données lorsqu'elles seront prêtes</small>
            <small>(comptez environ 10 à 12 secondes pour un dépôt contenant ~16000 issues)</small>
        </div>
        <div class="panel-body">
            <ul>
            @for(repo <- nonAlreadyFetchedRepos) {
                <li><a href="@getUrl(repo)">@getUrl(repo)</a></li>
            }
            </ul>
        </div>
    </div>

}

