@(nonAlreadyFetchedRepos: List[models.GithubRepository], user: Option[models.User])(implicit flash: Flash)

@main("Github Dashboard", user) {

    <h1 class="page-header">Dashboard</h1>

    @_inTreatment(nonAlreadyFetchedRepos)

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Progression du nombre d'issues ouvertes par projet dans le temps</h3>
        </div>
        <div class="panel-body">
            <div id="g1">
                <svg></svg>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Histogramme de vélocité des projets</h3>
            <small>(Temps moyen entre la date d'ouverture et la date de fermeture d'une issue dans les projets)</small>
        </div>
        <div class="panel-body">
            <div id="g2">
                <svg></svg>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Répartitions des issues par état</h3>
            <small>(Hélas, Github ne fournit que deux états: "open" ou "close")</small>
        </div>
        <div class="panel-body">
            <div id="g4">
                <svg></svg>
            </div>
        </div>
    </div>

}
