@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>

        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

            <!-- GOOGLE FONTS : begin -->
        <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
            <!-- GOOGLE FONTS : end -->

            <!-- STYLESHEETS : begin -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/readable/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css">
            <!-- STYLESHEETS : end -->

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>

        @navbar()

        <div class="container main">
            @content
        </div>

            <!-- SCRIPTS : begin -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.js" charset="utf-8"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/sugar/1.4.1/sugar.min.js" charset="utf-8"></script>
            <!-- SCRIPTS : end -->

        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

        <script src="@routes.Assets.at("javascripts/main.js")"></script>

    </body>
</html>
